{% extends 'base.html.twig' %}

{% block title %}
	Admin Articles
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="conatainer mt-4">
		<h1 class="text-center">Administrations des articles</h1>
		<a href="#" class="btn btn-primary mt-4">Créer un article</a>
		{{ dump(articles) }}
	</section>
{% endblock %}
